<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link rel="stylesheet" href="output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Dashboard</title>
</head>
<body class="font-body flex flex-col min-h-screen">
    <div class="grow">
        {{>headerAfter}}

        <section class="bg-zinc-800 text-slate-100 content-around px-7 md:pb-10 md:pt-5 mx-auto">
            <div class="flex justify-start pr-10 pb-20 md:mx-5 gap-32">
                <div class="md:w-7/12 pl-10">
                    <p class="text-lg md:text-3xl font-bold md:py-10">Welcome, ______!</p>
                    <p class="text-md md:text-xl pr-5">Dashboard</p>
                </div>
                <div class="text-slate-100 py-10 px-32 my-10">
                    <div class="card flex flex-col items-center bg-slate-100 rounded-xl shadow-2xl max-w-sm hover:scale-105 px-10 py-5">
                            <!-- <div>
                                <img class="rounded-t-lg" src="img/yoga.png"/>
                            </div> -->
                            <h3 class="text-lg p-5 tracking-tight text-slate-800 flex justify-center text-center">
                                Lorem ipsum dolor sit amet consectetur.</h3>
                    </div>
                </div>
            </div>
            <div style="height:4rem"></div>
            <!-- <br><br><br> -->
        </section>

        <section class="bg-cyan-600 text-slate-100 text-4xl pb-20">
            <div class="text-center text-slate-100 font-semibold py-10">
                    Practise Tasks
            </div>

            <nav style="@media (max-width:500px){background-color: teal;}"
                class="bg-cyan-600 ease-in-out duration-700 md:flex justify-between content-around text-slate-100 px-7 md:px-14 md:py-4">

                <div class="flex gap-32 mx-auto">
                    <div
                        class="text-md md:text-xl px-10 py-3 border-2 border-slate-100 hover:border-2 hover:border-zinc-800 rounded-lg hover:bg-zinc-800 md-px-10">
                        <button id="cricket" class="cricket_b">Cricket</div>
                    <div
                        class="text-md md:text-xl px-10 py-3 border-2 border-slate-100 hover:border-2 hover:border-zinc-800 rounded-lg hover:bg-zinc-800 md-px-10">
                        <button id="hockey" class="hockey_b">Hockey</button> </div>
                    <div
                        class="text-md md:text-xl px-10 py-3 border-2 border-slate-100 hover:border-2 hover:border-zinc-800 rounded-lg hover:bg-zinc-800 md-px-10">
                        <button id="yoga" class="yoga_b">Yoga</button></div>
                </div>
            </nav>

                <div id="cricket-contain" class="cricket_b">
                    <div class="card flex flex-col justify-center mx-auto items-center bg-slate-100 rounded-xl shadow-2xl max-w-sm px-5 pt-10 pb-10 mt-10">
                        <!-- <div>
                            <img class="rounded-t-lg" src="img/yoga.png"/>
                        </div> -->
                        <h3 class="text-lg p-5 tracking-tight text-slate-800 flex justify-center text-center">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A rerum molestiae molestias magni dolores vel eveniet, sit quo illo harum.</h3>
                </div>
                </div>
                <div id="hockey-contain" class="hockey_b" style="display:none">
                    <div class="card flex flex-col justify-center mx-auto items-center bg-slate-100 rounded-xl shadow-2xl max-w-sm px-5 pt-10 pb-10 mt-10">
                        <!-- <div>
                            <img class="rounded-t-lg" src="img/yoga.png"/>
                        </div> -->
                        <h3 class="text-lg p-5 tracking-tight text-slate-800 flex justify-center text-center">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A rerum molestiae molestias magni dolores vel eveniet, sit quo illo harum.</h3>
                </div>
                </div>
                <div id="yoga-contain" class="yoga_b" style="display:none">
                    <div class="card flex flex-col justify-center mx-auto items-center bg-slate-100 rounded-xl shadow-2xl max-w-sm px-5 pt-10 pb-10 mt-10">
                        <!-- <div>
                            <img class="rounded-t-lg" src="img/yoga.png"/>
                        </div> -->
                        <h3 class="text-lg p-5 tracking-tight text-slate-800 flex justify-center text-center">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A rerum molestiae molestias magni dolores vel eveniet, sit quo illo harum.</h3>
                </div></div>

        </section>


    </div>

    {{>footer}}
    
</body>
<script src="js/dashboard.js"></script>
</html>