<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link rel="stylesheet" href="output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home</title>
</head>
<body class="font-body flex flex-col min-h-screen">
    <div class="grow">
        {{>header}}

        <section class="bg-zinc-800 text-slate-100 content-around px-7 md:pb-10 md:pt-5 mx-auto">
            <div class="flex justify-start pr-10 pb-0 md:mx-5 gap-32">
                <div class="md:w-7/12 pl-10">
                    <p class="text-lg md:text-3xl font-bold md:py-10">Lorem ipsum dolor sit, amet consectetur</p>
                    <p class="text-md md:text-xl pr-5">Molestias tenetur perferendis eveniet labore omnis accusantium mollitia nostrum expedita nesciunt quod? Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores odio, voluptatem officiis aperiam inventore nesciunt, recusandae sit praesentium id obcaecati nihil aspernatur? Quis placeat illum perferendis nulla sed esse quos.</p>
                </div>
                <img src="img/sports2.png" alt="" class="z-10">
            </div>
            <div style="height:4rem"></div>
            <!-- <br><br><br> -->
        </section>

        <section class="bg-sky-600 text-slate-100 text-3xl">
            <div class="bg-sky-600 -skew-y-6 bottom-16 relative -left-0 h-36 w-full">
            </div>

            <div class="text-center text-slate-100 font-semibold">
                    SPORTS AVAILABLE
            </div>

            <div class="flex justify-center">
                <div class="text-slate-100 py-10 px-32">
                    <div class="card flex flex-col items-center bg-slate-100 rounded-xl shadow-2xl max-w-sm hover:scale-105 px-10 py-5">
                            <div>
                                <img class="rounded-t-lg" src="img/cricket.png"/>
                            </div>
                            <h3 class="text-lg p-5 tracking-tight text-slate-800 flex justify-center text-center">
                                CRICKET</h3>
                        </a>
                    </div>
                </div>
                <div class="text-slate-100 py-10 px-32">
                    <div class="card flex flex-col items-center bg-slate-100 rounded-xl shadow-2xl max-w-sm hover:scale-105 px-10 py-5">
                            <div>
                                <img class="rounded-t-lg" src="img/yoga.png"/>
                            </div>
                            <h3 class="text-lg p-5 tracking-tight text-slate-800 flex justify-center text-center">
                                YOGA</h3>
                        </a>
                    </div>
                </div>
                <div class="text-slate-100 py-10 px-32">
                    <div class="card flex flex-col items-center bg-slate-100 rounded-xl shadow-2xl max-w-sm hover:scale-105 px-10 py-1">
                            <div>
                                <img class="rounded-t-lg" src="img/hockey.png"/>
                            </div>
                            <h3 class="text-lg p-5 tracking-tight text-slate-800 flex justify-center text-center">
                                HOCKEY</h3>
                        </a>
                    </div>
                </div>
            </div>
        </section>

    <section class="bg-slate-800">
        <div class="text-slate-200 text-3xl text-center py-10 font-semibold">
            FEATURES
        </div>
        <div class="flex flex-col gap-10">
            <div class="self-center card flex flex-row gap-5 items-center outline outline-3 rounded-xl shadow-2xl px-7 py-7 text-xl bg-slate-100">
                <i class="fa-solid fa-medal fa-3x text-slate-800"></i>
                <p class="text-slate-800">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia fuga aperiam soluta quos amet earum?</p> 
            </div>
            <div class="self-center card flex flex-row gap-5 items-center outline outline-3 rounded-xl shadow-2xl px-7 py-7 text-xl bg-slate-100">
                <i class="fa-solid fa-medal fa-3x text-slate-800"></i>
                <p class="text-slate-800">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia fuga aperiam soluta quos amet earum?</p> 
            </div>
            <div class="self-center card flex flex-row gap-5 items-center outline outline-3 rounded-xl shadow-2xl px-7 py-7 text-xl bg-slate-100 mb-20">
                <i class="fa-solid fa-medal fa-3x text-slate-800"></i>
                <p class="text-slate-800">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia fuga aperiam soluta quos amet earum?</p> 
            </div>
        </div>
    </section>

    </div>

    {{>footer}}
    
</body>
</html>