<header>
    <nav style="@media (max-width:500px)"
            class="bg-zinc-800 md:flex justify-between content-around text-slate-100 px-7 py-10 md:px-14 md:py-5">
            <div class="text-md md:text-2xl font-bold"><a href="http://localhost:5000/">Personal Coach</a></div>
            <div class="text-md md:text-lg md:px-10">
                <ul class="md:flex pt-1 list-none gap-8" id="nav-list">
                    <li class=""><a href="http://localhost:5000" class="after::bottom-0 after::left-0 after::absolute after::bg-black">Home</a></li>
                    <li class=""><a href="http://localhost:5000/dashboard">Dashboard</a></li>
                    <li class=""><button><a href="http://localhost:5000/login"
                    class="">Login</a></button> / <button><a
                    href="http://localhost:5000/signup" class="">Sign up</a></button></li>
                </ul>
            </div>
        </nav>
</header>